.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: -90%;
    bottom: 0;
    left: auto;
    margin: auto;

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 400px;
        background-size: cover;
        transform: rotateZ(20deg);
        z-index: 1;
        animation: glitched 3.5s infinite steps(1);
    }
}

@keyframes bouncing {
    50% {
        top: -40px;
    }
}
@keyframes glitched {
    0%, 100% {
        background-image: url('../../../assets/images/logoK.png');
        background-size: cover;
    }

    90% {
        background-image: url('../../../assets/images/glitched/glitch-image-1.png');
        background-size: cover;
        opacity: 0;
    }

    92.5% {
        background-image: url('../../../assets/images/glitched/glitch-image-2.png');
        background-size: cover;
        opacity: 1;
    }

    95% {
        background-image: url('../../../assets/images/glitched/glitch-image-3.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background-image: url('../../../assets/images/glitched/glitch-image-4.png');
        background-size: cover;
        opacity: 1;
    }
}