.skills-cont {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 18%;
    margin-left: 0;
    overflow: hidden;
    padding: 20px 50px;
    border-radius: 18px;
    box-shadow: 5px 5px 9px #dfdfdf,
                -5px -5px 9px #eeeeee;
    animation: backInRight 1.7s .5s;
}

@keyframes showIt {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .container.about-page {
        position: absolute;
    }

    .about-page {
        .text-zone {
            h1 {
                font-size: 64px;
                left: -20px;
                margin-bottom: 10px;
            }
        }
    }

    .skills-cont {
        position: initial;
        width: 100%;
        overflow: visible;
        margin-bottom: 100px;
    }
}