.hexagon {
    $hexagon-size: 170px;
    $hexagon-color-1: #00ffb8;
    $hexagon-color-2: #13ce9a;
    
    width: ($hexagon-size * 0.645);
    height: $hexagon-size;
    background-image: linear-gradient(90deg, $hexagon-color-1, $hexagon-color-2);
    border-radius: calc($hexagon-size / 10);
    transition: transform 400ms ease;

    img {
        position: absolute;
        margin: 10px -20px;
        height: 190px;
        border-radius: 40%;
        object-fit: cover;
        clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        z-index: 1000;
    }
    
    &:hover {
      transform: rotate(30deg);
    }
      
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: inherit;
      height: inherit;
      background-image: inherit;
      border-radius: inherit;
    }
      
    &:before {
      transform: rotate(60deg);
    }
    
    &:after {
      transform: rotate(-60deg);
    }
}