footer {
    position: fixed;
    bottom: 0;
    background: #5cf4ff4d;
    width: 250px;
    padding: 20px 30px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    animation: zoomInUp 5s 2s backwards;

    .spinner {
        position: absolute;
        bottom: 45px;
        width: 80px;
        height: 80px;
        left: -60px;
        background: #fff;
        border-radius: 38px 40px 39px 47px;
        z-index: 1001;
    }
}

@keyframes rotateIt {
    0% {
        left: -60px;
    }
    100% {
        transform: rotate(2880deg);
        left: 230px;
    }
}

@media screen and (min-width: 1200px) {
    .spinner {
        animation: rotateIt 27s infinite;
    }
}

@media screen and (max-width: 1200px) {
    .spinner {
        display: none;
    }
}